.box_question {
	background-color: $base;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
	box-shadow: 0 0 4px 1px $shadow2;
}
.lbl_question {
	color: $text;
	font-size: 18px;
	margin: 0 5px 15px;
}
.btn_question {
	color: $text;
	background-color: $base2;
	border-radius: 5px;
	padding: 5px;
}
.btn_question:hover {
	color: $base;
	background-color: $blue;
}
