.eww_clipboard {
	background-color: $base;
	border-radius: 10px;
	margin: 10px;
	box-shadow: 0 0 4px 1px $shadow2;
	padding: 10px;
	color: $text;
}

.button-clipboard {
	font-size: 20px;
	padding: 5px;
	color: $base;
	background-color: $blue;
	border-radius: 10px;
	margin-bottom: 10px;
}

.clipboard-list {
	border-top: 2px dashed $magenta;
	border-bottom: 2px dashed $magenta;
}

.input-clipboard {
	color: $text;
	background-color: $base;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	box-shadow: 0 0 4px 1px $shadow2;
}

.clip-links {
	margin: 2px 0;
}
