// Variable Colors
$base: #e6e9ef;
$base2: #dce0e8;
$base3: #ccd0da;
$text: #4c4f69;
$text2: #5c5f77;
$text3: #6c6f85;
$shadow: rgba(0,0,0,.30);
$shadow2: rgba(0,0,0,.15);
$red: #ed8796;
$sky: #91d7e3;
$blue: #8aadf4;
$teal: #8bd5ca;
$green: #a6da95;
$orange: #ef9f76;
$yellow: #e5c890;
$magenta: #c6a0f6;
// Other
$clock: #179299;
$special: linear-gradient(180deg, $red, $magenta);

// Fonts
$font1: "Material Icons Round";
$font2: "JetBrainsMono Nerd Font";
$font3: "Iosevka";
