:root {
    --toolbarbutton-border-radius: 0 !important;
    --tab-border-radius: 0 !important;
    --tab-block-margin: 0 !important;
}

#tabbrowser-tabs {
	color: var(--color-text) !important;
	background-color: var(--color-base) !important;
}

/* Tabs colors  */
#tabbrowser-tabs
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected='true'],
#tabbrowser-tabs
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected='true'] {
	margin: 10px 0 !important;
	border-radius: 10px !important;
    background-image: none !important;
	background-color: var(--color-blue) !important;
}

.tabbrowser-tab[selected='true'] {
	color: var(--color-base) !important;
}

.tabbrowser-tab:hover .tab-background {
	margin: 10px 0 !important;
	border-radius: 10px !important;
}

.tab-close-button {
    border-radius: 25px !important;
}

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] { margin-inline-start: 0 !important; }

.tab-content[pinned] {
	margin: 0 !important;
}

.tabbrowser-tab .close-icon:hover {
	fill: var(--color-base) !important;
	background-color: var(--color-red) !important;
	border-radius: 4px;
}

/* Hides the list-all-tabs button*/
#alltabs-button { display: none !important; }

/* New tab	button */
#tabs-newtab-button { display: none !important; }

/* Hide tab icons */
/*.tabbrowser-tab:not([pinned]) .tab-icon-image { display: none !important; }*/

/* remove tab shadow */
.tabbrowser-tab
  >.tab-stack
  > .tab-background { box-shadow: none !important;  }

/* The Firefox brand icon seen on newtab page etc. */
.tab-icon-image[src="chrome://branding/content/icon32.png"]{
	content: url("../icons/rocket.png"); /* filename for icon to load */
}
